Cucumber Homework/.metadata/
Cucumber Homework/RemoteSystemsTempFiles/.project
Cucumber Homework/Servers/.project
Cucumber Homework/cucumber-java-skeleton/.classpath
Cucumber Homework/cucumber-java-skeleton/.project
Cucumber Homework/cucumber-java-skeleton/.settings/org.eclipse.core.resources.prefs
Cucumber Homework/cucumber-java-skeleton/.settings/org.eclipse.jdt.core.prefs
Cucumber Homework/cucumber-java-skeleton/.settings/org.eclipse.m2e.core.prefs
Cucumber Homework/Servers2/.settings/org.eclipse.wst.server.core.prefs
Cucumber Homework/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdt
Cucumber Homework/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdx
Cucumber Homework/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fnm
Cucumber Homework/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.frq
Cucumber Homework/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.nrm
Cucumber Homework/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.prx
Cucumber Homework/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tii
Cucumber Homework/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tis
Cucumber Homework/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
Cucumber Homework/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
Cucumber Homework/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
